.calculator {
  width: 200px;
  background-color: lightslategray;
  display: block;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.textarea-input {
  background-color: lightslategrey;
  margin: 5% 5% 0 5%;
  padding: 0px;
  width: 90%;
  border: none;
  overflow: hidden;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.output {
  margin: 0 5% 0 5%;
  padding: 0px;
  width: 90%;
  text-align: right;
  color: lightgray;
}

.button-grid {
  display: flex;
  justify-content: space-around;
}

.button-dial {
  border: 1px solid gray;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}

.button-toolbar {
  background-color: transparent;
  height: 20px;
  margin: 5px;
  font-size: 10px;
  border-radius: 5px;
  border: none;
  color: lightyellow;
  cursor: pointer;
}
