.calculator {
  width: 400px;
  background-color: lightslategray;
  display: block;
  justify-content: center;
  border-radius: 40px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.textarea-input {
  background-color: lightslategrey;
  margin: 5% 5% 0 5%;
  padding: 0px;
  width: 90%;
  border: none;
  overflow: hidden;
  outline: none;
  font-size: 40px;
  font-weight: 400;
  color: white;
  text-align: right;
}

.output {
  margin: 0 5% 0 5%;
  padding: 0px;
  width: 90%;
  text-align: right;
  color: lightgray;
  font-size: 30px;
}

.button-grid {
  display: flex;
  justify-content: space-around;
}

.button-dial {
  border: 1px solid gray;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
}

.button-toolbar {
  background-color: transparent;
  height: 40px;
  margin: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  color: lightyellow;
  cursor: pointer;
}

.history-div {
  height: 500px;
  margin: 0 5% 0 5%;
  color: white;
  overflow: auto;
}

.history-div::-webkit-scrollbar {
  width: 10px;
  background-color: lightslategrey;
}
.history-div::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: white;
  border-radius: 10px;
}
.history-expression {
  color: lightgray;
  font-weight: 100;
  font-size: 20px;
}

.history-result {
  margin-bottom: 5%;
  font-size: 30px;
}
